*, html {
    --primaryGradient: linear-gradient(93.12deg, #080ad9 0.52%, #1564ed 100%);
    --secondaryGradient: linear-gradient(268.91deg, #020381 -2.14%, #0a59e0 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --light: 300;
    --regular: 400;
    --semiBold: 600;
    --extraLight: 300;
    --italic: 300;
    --primary: #062fb1;
}

.ai-chatbot .form-container .ai-header h2{
    font-size: 16px;
    color: #fff;
    margin-top: 12px;
}
.ai-chatbot .form-container .ai-header {
    display: flex;
    padding: 4px;
    background: var(--primaryGradient);
    margin-bottom: 10px;
        color: #fff;
    border-radius: 12px 12px 0 0;
}
/* Button used to open the chat form - fixed at the bottom of the page */
.ai-chatbot .open-button {
    color: white;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    border-radius: 100%;
    z-index: 9999999999;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    width: 50px;
    height: 50px;
}

.ai-chatbot .ai-display{
    -webkit-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-name: iconAnimation;
    animation-name: iconAnimation;
}
.ai-chatbot-icon {
    fill: #fff;
}

@-webkit-keyframes iconAnimation {
    0% {
        opacity: 0;
        transform: scale(.5)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes iconAnimation {
    0% {
        opacity: 0;
        transform: scale(.5)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}
.ai-chatbot .ai-head-img {
    margin-right: 10px;
}

.ai-chatbot .msg-container.msg-remote p {
    color: #565656;
    font-size: 13px;
}

/* The popup chat - hidden by default */
.ai-chatbot .chat-popup {
    display: none;
    position: fixed;
    bottom: 100px;
        right: 15px;
    z-index: 999999999;
    border-radius: 12px 12px 12px 12px;
        background: #fff;
}

.ai-chatbot .chat-window::-webkit-scrollbar {
  display: none;
}
/* Add styles to the form container */
.ai-chatbot .form-container {
    max-width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 24px 24px 0 0;
	background: #f9f9f9;
    height: 400px;
    width: 310px;
	padding-bottom: 30px;
}


/* Full-width textarea */
.ai-chatbot .form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.ai-chatbot .form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.ai-chatbot .form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.ai-chatbot .form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.ai-chatbot .form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*** Live Chat Box style **/

.ai-chatbot .ai-cb-error-msg {
    color: #dd0000;
    background: #eee;
    padding: 4px;
}

.ai-chatbot .chatbox {
    width: 300px;
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.ai-chatbot .chat-window {
    flex: auto;
    max-height: calc(100% - 34px);
    padding: 0 !important;
    overflow: auto;
    background: #f9f9f9;
}
.ai-chatbot .chat-input {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
padding: 15px 15px;
	background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 10px;

}
.ai-chatbot .chat-input input {
	height: 50px !important;
    line-height: 60px !important;
    outline: 0 none;
    border: none !important;
    width: calc(100% - 50px) !important;
        text-indent: 10px;
    font-size: 12pt !important;
    padding: 0 !important;
    background: #ffffff;
    border-radius: 30px !important;
    text-align: center;
}

.ai-chatbot #chatClick .chat-arrow{
    width: 60%;
    margin-left: 6px;
}
.ai-chatbot .chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgba(255,255,255,.25);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin-top: 10px;
        transition: all 0.15s ease-in-out;
}
.ai-chatbot .chat-input input[good] + button {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background: var(--primaryGradient);
}
.ai-chatbot .chat-input input[good] + button:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.ai-chatbot .chat-input input[good] + button path {
    fill: white;
}
.ai-chatbot .msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
.ai-chatbot .msg-box {
	display: flex;
    padding: 5px 10px 0 10px;
    border-radius: 20px 20px 20px 0;
    width: auto;
    background: #dfeaff;
    max-width: 70%;
    margin-left: 10px;
}
.ai-chatbot .user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px !important;
    width: 40px !important;
    background: #2671ff;
    margin: 0 10px 10px 0;
}
.ai-chatbot .flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.ai-chatbot .messages {
    flex: 1 0 auto;
}
.ai-chatbot .msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    margin: 0 0 4px 0;
    font-weight: 400;
    font-size: .812rem;
}
.ai-chatbot .msg:first-of-type {
    margin-top: 8px;
}
.msg-remote .timestamp {
    color: var(--primary);
    font-size: 8pt;
    margin-bottom: 10px;
}
.ai-chatbot .msg-self .timestamp {
    color: rgb(253 250 255);
    font-size: 8pt;
    margin-bottom: 10px;
}
.ai-chatbot .username {
    margin-right: 3px;
}
.ai-chatbot .posttime {
    margin-left: 3px;
}
.ai-chatbot .msg-self .msg-box {
	
	border-radius: 20px 20px 0 20px;
    float: right;
    background: var(--primaryGradient);
    color: white;
    width: 70%;
    margin-right: 10px;
}
.ai-chatbot .msg-self .user-img {
    margin: 0 0 10px 10px;
}
.ai-chatbot .msg-self .msg {
    text-align: right;
}
.ai-chatbot .msg-self .timestamp {
    text-align: right;
}
.ai-chatbot .ai-chat-powerd-by a {
    color: #fbd8b5;
}
.ai-chatbot .ai-chat-powerd-by{
/* background: #262626; */
    font-size: 12px;
    font-weight: 500;
    color: #edddfb;
    text-align: center;
    margin-top: 12px;
}
.ai-chatbot .user-img {
    display: none;
}
/*** Loader **/
.ai-chatbot .chat-loader {
    bottom: 0;
    filter: url("#fancy-goo");
    height: 300px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 50%;
}
.ai-chatbot .chat-loader + .chat-loader {
    left: 50%;
}
.ai-chatbot .bottom-line {
    background: #f5f5f5;
    bottom: 0;
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
}
.ai-chatbot .base-square {
    /* background: #f5f5f5; */
    bottom: -193px;
    height: 200px;
    left: -50%;
    position: absolute;
    width: 200%;
}
.ai-chatbot .bubble {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    animation: bubble-up 1.2s ease both;
    background: #f5f5f5;
    left: 50%;
    margin-left: -40px;
    position: absolute;
}
.ai-chatbot .bubble--bigger {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    animation: bubble-up--bigger 1.2s ease both;
    left: 50%;
    margin-left: -50px;
}
.ai-chatbot .loading {
    animation: loading-up 1.2s ease both;
    left: 50%;
    margin-left: -24px;
    position: absolute;
}
.ai-chatbot .dot {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    animation: dot-pulse 0.9s ease both infinite;
    background: var(--primary);
    display: inline-block;
}
.ai-chatbot .dot--one {
    animation-delay: 0;
}
.ai-chatbot .dot--two {
    animation-delay: 0.3s;
}
.ai-chatbot .dot--three {
    animation-delay: 0.6s;
}
@keyframes bubble-up {
    0% {
        bottom: -80px;
   }
    80%, 100% {
        bottom: 40px;
   }
}
@keyframes bubble-up--bigger {
    0% {
        bottom: -100px;
   }
    50% {
        bottom: -90px;
   }
    100% {
        bottom: -100px;
   }
}
@keyframes loading-up {
    0% {
        bottom: -70px;
   }
    80%, 100% {
        bottom: 70px;
   }
}
@keyframes dot-pulse {
    0% {
        transform: scale(0);
   }
    50% {
        transform: scale(1);
   }
    100% {
        transform: scale(0);
   }
}
.ai-chatbot article#msg-chat {
    height: 140px;
}

.ai-chatbot audio{
    display:none;
}